body {
    background-color: rgb(253, 232, 174);
    margin: auto;
    width: 70%;
    text-align: center;
}
h1 {
    background-color: rgb(54, 54, 54);
    color: rgb(235, 235, 235);
    padding: 30px;
}
.flex {
    border: 1px solid #765959; 
    background-color: #d5c3c3;
    padding: 10px;
    display: flex;
    justify-content: space-around;   
}
#picture {
   
}
#boitable {
    font-size: 40px;
}
#wholetable{
    display: flex;
    justify-content: center;
    margin: 30px;
}
table, th, td {
    border: 4px solid rgb(255, 137, 41);
    font-size: 35px
}
th, td {
    border: 2px dashed rgb(167, 9, 9)
}























/* #first {
    background-color: rgb(247, 49, 49);
    border: 2 px red;
    padding: 40px;
}
.firstpara {
    color: rgb(14, 94, 94);
}
p {
    color: black;
    padding: 8px;
    background-color: white;
    border: 1px dashed black;
}
table, th, td {
    border: 1px solid rgb(98, 0, 255);
    font-size: 35px
}
th, td {
    border: 1px dashed rgb(167, 9, 9)
}

h3 {
    color: grey;
}
li {
    color: green;
} */